<% provide(:title, 'Home') %>
<% if signed_in? %>
	<table class="front">
		<tr>
			<td class="main">
				<h1 class="micropost">Update status:</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				Figure out what I want here.
			</td>
		</tr>
	</table>
<% else %>
	<h1>The Pub</h1>
	<p>
		This is the future home for The Pub: A Private Social Network for 
		Friends and Family.
	</p>

	<p>
		Testing the sign up link: 
		<%= link_to "Sign up", signup_path %>
	</p>
<% end %>
