<% provide(:title, 'Home') %>
	<h1>The Pub</h1>
	<p>
		This is the future home for The Pub: A Private Social Network for 
		Friends and Family.
	</p>

	<p>
		Testing the sign up link: 
		<%= link_to "Sign up", signup_path %>
	</p>
