<li>
	<% unless user.avatar_file_name == nil %>
	<%= image_tag user.avatar.url(:thumb)  %>
	<% end %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
	<% end %>
</li>
