$full-width: 800px;
$background-color: white;
$link-color: green;
$visited-link-color: green;
$hover-link-color: orange;

.container {
	width: $full_width;
}

body {
	background: $background-color;
}

header {
	padding-top: 0;

	img {
		padding: 0;
		background: $background-color;
		margin-top: -10px;
	}

	h3 {
		font-size:175%;
		text-align: center;
	}
}

section {
	margin-top: 10px;
	font-size: 110%;
	padding: 0px;
	background: $background-color;

	h1 {
		font-size: 200%;
	}

	a {
		color: $link-color;
		text-decoration: none;

		&:hover {
			color: $hover-link-color;
			text-decoration: underline;
		}
	}
}

/* Links */

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $hover-link-color;
		text-decoration: underline;
	}

	&:visited {
		color: $visited-link-color;
	}
}

nav {
	float: none;
	background-color: lightgrey;
	padding: 0 0.7em;
	white-space: nowrap;
	font-size: 110%;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;

			a {
				padding: 0 5px;
				font-weight: bold;

				&:visited {
					color: $visited-link-color;
				}

				&:hover {
					text-decoration: underline;
					color: $hover-link-color;
				}
			}
		}
	}
}

/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Footer */
footer {
	text-align: center;
	margin-top: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

	nav {
		float: none;
	}
}

/* User show page */

table.profile {
	width: 100%;
	margin-bottom: 0;

	h1 {
		vertical-align: top;
		margin-top: -10px;
		text-align: left;
		margin-bottom: 0px;
		font-size: 24px;
	}
}

td.main {
	width: 80%;
	padding: 1em;
	vertical-align: top;
}

td.image {
	vertical-align: top;
}

td.sidebar {
	width: 20%;
	padding: 1em;
	vertical-align: top;
	text-align: center;
	background: lightgrey;
}

table.feedtabletest {
	width: 100%;
	margin-top: 5px;
	background: white;
}

td.feedtest {
	width: 800px;
	padding: 1em;
	vertical-align: top;
}

/* Field settings */

div.field {
	margin-bottom: 10px;

	textarea {
		height: 4em;
		width: 35em;
	}
}

div.actions {
}


table.forms {
	width: 800px;
	background: white;

	tr {
		background: white;
	}

	td.forms {
		width: 400px;
		vertical-align: top;
		background: white;
	}
}

/* Error messages */

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;

	label {
		color: #fff;
	}
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;

	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		background-color: #c00;
		color: #fff;
	}

	P {
		color: #333;
		margin-bottom: 0;
		padding: 5px;
	}

	ul li {
		font-size: 12px;
		list-style: square;
	}
}

/* User index */

ul.users {
	margin-top: 1em;

	li {
		list-style: none;
	}
}

h1.micropost {
	margin-bottom: 0.3em;
}

table.microposts {
	margin-top: 1em;

	tr {
		height: 70px;

		&:nth-child(2n) td, tbody tr.even td {
			background: white;
		}

		td.avatar {
			border-top: 1px solid #ccc;
			vertical-align: top;
		}

		td.micropost {
			border-top: 1px solid #ccc;
			vertical-align: top;
			padding-top: 10px;

			span.timestamp {
				display: block;
				font-size: 85%;
				color: #666;
			}
		}
	}
}

div.user_info {
	img {
		padding-right: 0.1em;
	}

	a {
		text-decoration: none;
	}

	span.user_name {
		position: absolute;
	}

	span.microposts {
		font-size: 80%;
	}
}

form.new_micropost {
	margin-bottom: 2em;

	textarea {
		height: 4em;
		margin-bottom: 0;
	}
}

table.stats {
	vertical-align: center;
}
