<header>
	<%= image_tag("logo.png", alt: "The Pub") %><br />
	<center>
		<h3>A private social network for family and friends</h3>
	</center>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Sign in", '#' %><li>
		</ul>
	</nav>
</header>
